<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>网易云音乐-个人作品-后台管理</title>
</head>
<body>
  <header id="header">网易云音乐-后台管理</header>
  <main>
    <aside id="aside">
      <header class="active">新建歌曲</header>
      <div id="song-list" class="song-list"></div>
    </aside>
    <section id="section"></section>
  </main>
  <footer id="footer">
    <div class="input-wrapper">
      <p>上传（点击或拖拽上传）</p>
      <input type="file" id="select-file">
      <div class="progress"></div>
    </div>
  </footer>
  <script src="//at.alicdn.com/t/font_967149_q7hahqk4atq.js"></script>
</body>
</html>