body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  overflow: hidden;
  color: #333;
  #header {
    position: relative;
    height: 60px;
    line-height: 60px;
    padding: 0 1em;
    background: red;
    color: #fff;
    box-shadow: 0 4px 5px rgba(255, 0, 0, 0.4);
    z-index: 99;
  }
  main {
    display: flex;
    flex-grow: 1;
    box-shadow: 0 5px 5px #ddd;
    aside {
      position: relative;
      width: 200px;
      display: flex;
      flex-direction: column;
      border-right: 1px solid #bbb;
      header {
        position: relative;
        padding: 10px 0;
        text-align: center;
        border-bottom: 3px solid #bbb;
        font-weight: bold;
        cursor: pointer;
        &:before, &:after {
          content: '';
          height: 3px;
          width: 0;
          position: absolute;
          bottom: -3px;
          transition: all .2s ease-in-out;
          background: red;
        }
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }
        &.active, &:hover {
          color: red;
          &:before, &:after {
            width: 50%;
          }
        }
      }
      .song-list {
        flex-grow: 1;
        overflow: auto;
        li {
          position: relative;
          padding: 10px 1em;
          border-bottom: 1px solid #ddd;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:before, &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 5px;
            height: 0;
            background: #ff0000;
            transition: all .3s ease-in-out;
          }
          &:before {
            top: 0;
          }
          &:after {
            bottom: 0;
          }
          &.active, &:hover {
            &:before, &:after {
              height: 50%;
            }
          }
        }
      }
    }
    section {
      flex-grow: 1;
      padding: 0 50px;
      h1 {
        margin: 15px 0;
        letter-spacing: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;
      }
      form {
        .row {
          margin-bottom: 10px;
          &.button-wrapper {
            margin-left: 4em;
          }
          &.require {
            label {
              &::after {
                content: '*';
                color: red;
              }
            }
          }
          &.error {
            input {
              border-color: red;
            }
            .explain {
              display: block;
            }
          }
          label {
            span {
              display: inline-block;
              width: 4em;
              text-align: right;
            }
          }
          input, span.button {
            border: 1px solid #ddd;
            padding: 5px 10px;
            border-radius: 5px;
            margin-left: 5px;
            transition: all .3s ease;
          }
          input:focus, span.button:hover {
            box-shadow: 1px 1px 3px #ddd;
          }
          span.button {
            display: inline-flex;
            align-items: center;
            padding: 5px 1em;
            cursor: pointer;
            &.loading {
              background: rgba($color: #ddd, $alpha: 1);
              color: #fff;
              cursor: not-allowed;
              .loader {
                width: 16px;
                height: 16px;
                border: 2px solid red;
                border-left-color: rgba(255, 255, 255, .2);
              }
            }
          }
          .explain {
            display: none;
            margin-left: 5em;
            font-size: 14px;
            color: red;
          }
        }
      }
    }
  }
  footer {
    position: relative;
    margin: 10px;
    border: 2px dashed #ddd;
    text-align: center;
    background: #fff;
    .input-wrapper {
      padding: 30px 10px;
      .progress, input {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .progress {
        opacity: 0;
        width: 0;
        background: #00a854;
        z-index: 1;
        transition: all .3s linear;
        height: 12%;
        border-radius: 10px;
        bottom: 0;
        top: unset;
      }
      input {
        top: 0;
        opacity: 0;
        cursor: pointer;
      }
    }
  }
}